{% extends 'template.html' %}

{% block body %}
    <h1>Projeto Crawler</h1>

    {% include '_formulario_de_pesquisa.html' %}
    
    <h2>Bem-Vindo!</h2>
    <p>
        Esta API construida por <u>Luís Guilherme</u> para resolver o 
        <a href=https://gist.github.com/tarsisazevedo/966d469e8a80741334d3c4dce66cbea5 target=blank>
        <em>Desafio Backend Engineer | Data</em>
        </a>
        proposto em uma entrevista dada à <strong>JusBrasil</strong> realizada por <u>Thiago Avelino</u>
    </p>

    <h2>Exemplo:</h2>
    <p>Caso você queira obter informações do processo <strong>0710802-55.2018.8.02.0001</strong> e assumindo que a url atual é <strong>localhost:5000</strong>
    obtendo assim o endereço <strong>localhost:5000/0710802-55.2018.8.02.0001</strong></p>
    <h3>Algumas sugestões de processos</h3>
    <p>0710802-55.2018.8.02.0001<br>
    0821901-51.2018.8.12.0001<br>
    0000004-35.2014.8.02.0060<br>
    0000010-96.2014.8.12.0049</p>

    <span class='warning'>
        <strong>Observações.:</strong>
        Atualmente (agosto de 2020), o site do <em>TJMS</em> está atualizado. Alteraram o html da página, logo nossa API não 
        está funcionando corretamente para este tribunal <br>
        Estamos trabalhando para resolver este pequeno problema<br>
        =)
    </span>

    <footer>
        <a href="https://github.com/l5g53sena/Desafio_JusBrasil" target='_blank'>Link para implementação da API</a>
    </footer>
{% endblock %}